/*global background color*/
.root {
    -fx-background-color: #000000;
}

#startingContainer{
    -fx-padding: 10px;
    -fx-background-color: #999999;
}

#billHeader{
    -fx-font-size: 35px;
}

#orderBill {
    -fx-font-size: 20px;
    -fx-padding: 10px;
    -fx-background-color: #999999;
    -fx-spacing: 10px;
}
.button {
    -fx-effect: dropshadow(gaussian, #BD1616 , 8, 0, 4, 4);
    -fx-background-color: #FF2626; -fx-text-fill: #000000;
    -fx-font-size: 20px;
    -fx-border-radius: 5px;
}