/*global background color*/
/*#999999*/
.root {
    -fx-background-color: #050E3C;
}

#startingContainer{
    -fx-padding: 10px;
}

#billHeader{
    -fx-font-size: 35px;
}

#billChanging{
    -fx-font-size: 20px;
    -fx-padding: 50px 10px 25px 10px;
    -fx-spacing: 50px;
}
#adminButtons{
    -fx-spacing: 15px;
}
#billChanging .label{
    -fx-text-fill: white;
}

#orderBill {
    -fx-font-size: 20px;
    -fx-padding: 10px 10px 25px 10px;
    -fx-spacing: 10px;
}
#orderBill .label {
    -fx-text-fill: white;
}
.button {
    -fx-effect: dropshadow(gaussian, #BD1616 , 8, 0, 4, 4);
    -fx-background-color: #FF2626;
    -fx-text-fill: #000000;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
}