.button {
    -fx-background-color: #ff0fff; -fx-text-fill: #000000;
    -fx-font-size: 20px;
    -fx-border-radius: 5px;
}
#test{
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-color: #000000;
}