/*global background color*/
/*#999999*/
.root {
    -fx-background-color: #050E3C;
}

#startingContainer{
    -fx-padding: 10px;
    -fx-background-color: #050E3C;
}

#billHeader{
    -fx-font-size: 35px;
}

#orderBill {
    -fx-font-size: 20px;
    -fx-padding: 10px 10px 25px 10px;
    -fx-background-color: #050E3C;
    -fx-spacing: 10px;
}
#orderBill .label {
    -fx-text-fill: white;
}
.button {
    -fx-effect: dropshadow(gaussian, #BD1616 , 8, 0, 4, 4);
    -fx-background-color: #FF2626; -fx-text-fill: #000000;
    -fx-font-size: 20px;
    -fx-border-radius: 5px;
}